.navigation {
  padding: 1rem 0 1rem;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
  background: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0 1.6rem;

    @media only screen and (max-width: 640px) {
      padding: 0 0.75rem;
      display: block;
    }
  }

  &__logo {
    display: block;
    font-family: "Paytone One", sans-serif;
    text-decoration: none;
    font-size: 2rem;
    color: #0f2b46;

    @media only screen and (max-width: 640px) {
      font-size: 1.4rem;
    }

    span {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    padding-bottom: 0.25rem;

    @media only screen and (max-width: 640px) {
      padding-bottom: 0;
      margin-top: 1rem;
      justify-content: center;
    }
  }

  &__item {
    list-style: none;
    &:not(:last-child) {
      margin-right: 1rem;

      @media only screen and (max-width: 640px) {
        margin-right: 1rem;
      }
    }

    a {
      color: #4a80b5;
      text-decoration: underline;

      @media only screen and (max-width: 640px) {
        font-size: 1rem;
      }
    }
  }
}
